<div class="list-group">
<% total = 0 %>
<% @car_list.each do |a| %>
  <% total +=  a.count %>
  <% a.each do |b| %>
   <a class="list-group-item" href="<%= b["link"] %>" ><h4 class="list-group-item-heading"><%= b["name"] %></h4><p class="list-group-item-heading"><%= b["price"] %></p></a>
  <% end %>
<% end %>
<li><%= total %> cars scraped</li>

</div>
