<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="<%= url('/css/style.css') %>" />
</head>
<body> 
  <div id="wrapper">
    <p>This site displays links to cars scraped from five websites. <a href="http://www.philbrownmotors.co.nz">Phil Brown Motors</a>, <a href="http://mckendryford.co.nz">McKendry Ford</a>, <a href="http://www.mckendrys.co.nz">McKendry's</a>, <a href="http://www.seaviewwholesale.co.nz">Seaview Wholesale</a> and <a href="http://www.richardbatemanmotors.co.nz">Richard Bateman Motors</a>. I haven't yet added <a href="http://www.blenheim.toyota.co.nz/">Blenheim Toyota</a> or <a href="http://wadsco.co.nz/">Wadsco's</a> for reasons that are fairly boring but boils down to, 'too hard basket.' I expect I will eventually get around to it. A few other local dealers don't have websites.</p>
    <p>For bugs, fixes, ideas or if you just want to see how it works, check out my <a href="https://github.com/mattybrown/motorcrawler">github</a></p>
    <h1>Used cars in Marlborough</h1>
    <%= yield %>
  </div>
</body>

</html>

